.modal_type_item__container {
    position: relative;
    width: 498px;
    height: 610px;
    border-radius: 16px;
    background-color: #FFF;
    overflow: hidden;
}

.modal_type_item__image {
    width: 100%;
    max-height: 498px;
    overflow: hidden;
}

.modal_type_item__text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.modal_type_item__name {
    margin: 20px 0 0 32px;
    font-family: 'Cabinet Grotesk';
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;    
}

.modal_type_item__weather {
    margin: 20px 0 0 32px;
    font-family: 'Cabinet Grotesk';
    font-size: 20px;
    font-weight: 700;
    line-height: 24px; 
}

.modal_type_item__delete {
    margin: 20px 32px 0 0;
    border: none;
    background: none;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    font-family: 'Cabinet Grotesk';
    font-size: 20px;
    font-weight: 700;
    color: #FF4D00;
}

.modal_type_item__delete_hidden {
    visibility: hidden;
}
