.modal {
    position: fixed;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s linear;
}

.modal_opened {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear;
}

.modal__container {
    position: relative;
    background-color: #FFF;
    overflow: hidden;
}

.modal__close-button {
    z-index: 4;
    position: absolute;
    left: 454px;
    top: 16px;
    width: 16px;
    height: 16px;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    cursor: pointer;
}

.modal__close-button_white {
    background-image: url("../../../images/close\ button\ white.svg");
}

.modal__close-button_gray {
    background-image: url("../../../images/close\ button\ gray.svg");
}