.sidebar {
  width: 345px;  
}

.sidebar__user {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.sidebar__user-avatar {
  width: 50px;
  height: 50px;
  background-color: #0583F2;
  border-radius: 50%;
  border: solid 1px #00000080;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #FFF;
  font-family: "Cabinet Grotesk";
  font-size: 25px;
  font-weight: 700;
  overflow: hidden;
}

.sidebar__user-name {
  margin-left: 16px;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
}

.sidebar__button {
  display: block;
  border: none;
  background: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  font-family: 'Cabinet Grotesk';
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 8px;
}