.clothes-header {
  display: flex;
}

.clothes-title {
  margin: 0;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
}

.clothes__add-button {
  border: none;
  background: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  font-family: 'Cabinet Grotesk';
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #00000099;
  margin-left: 20px;
}

.clothes__cards {
  padding-top: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}